# Prerequisites
*.d


# Precompiled Headers
*.gch
*.pch

#compiled File
*.pdb
*.lib
*.exe
*.exp
*.dll

# Fortran module files
*.mod
*.smod

# Executables
*.out
*.app
*.sln

#unreal file
*.target

# File/Path
Content\Katana_Animations
Content\ParagonMinions
Content\BlinkAndDashVFX

Binary\Win64\*.pdb
Binary\Win64\*.exe
Binary\Win64\*.exp
Binary\Win64\*.lib
Saved
Intermediate
DerivedDataCache
.vs
.vsconfig
.svn
.vscode
.exe
/Content/BlinkAndDashVFX
/Content/Katana_Animations
/Content/ParagonMinions
/Content/TopDown
Binaries/Win64/UnrealEditor-DevKit.patch_0.exp
Binaries/Win64/UnrealEditor-DevKit.patch_0.lib

*.code-workspace
/Content/Art/ArtTestMap
/Content/Art/EnvironmentAsset
/Content/Art/Map
/Content/Art/Material
/Content/Art/Prox_Box
/Content/UltraVolumetrics
*.sln
/Content/Art/Map/GameLevel_L1
**/Content/Art
/Content/Art
Content/RollDodgeDashSet/Animations/InPlace/Mannequin/Dash/A_INP_Dash_IdleBwd.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin/Dash/A_INP_Dash_IdleBwdLt_135.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin/Dash/A_INP_Dash_IdleBwdRt_135.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin/Dash/A_INP_Dash_IdleFwd.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin/Dash/A_INP_Dash_IdleFwdLt_45.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin/Dash/A_INP_Dash_IdleFwdLt_90.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin/Dash/A_INP_Dash_IdleFwdRt_45.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin/Dash/A_INP_Dash_IdleFwdRt_90.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin/Dodge/A_INP_Dodge_01_IdleBwd_toLeft.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin/Dodge/A_INP_Dodge_01_IdleBwd_toRight.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin/Dodge/A_INP_Dodge_01_IdleBwdLt_135.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin/Dodge/A_INP_Dodge_01_IdleBwdRt_135.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin/Dodge/A_INP_Dodge_01_IdleFwd_toLeft.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin/Dodge/A_INP_Dodge_01_IdleFwd_toRight.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin/Dodge/A_INP_Dodge_01_IdleFwdLt_45.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin/Dodge/A_INP_Dodge_01_IdleFwdLt_90.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin/Dodge/A_INP_Dodge_01_IdleFwdRt_45.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin/Dodge/A_INP_Dodge_01_IdleFwdRt_90.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin/JumpDodge/A_INP_JumpDodge_IdleBwd.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin/JumpDodge/A_INP_JumpDodge_IdleBwdLt_135.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin/JumpDodge/A_INP_JumpDodge_IdleBwdRt_135.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin/JumpDodge/A_INP_JumpDodge_IdleFwd.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin/JumpDodge/A_INP_JumpDodge_IdleFwdLt_45.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin/JumpDodge/A_INP_JumpDodge_IdleFwdLt_90.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin/JumpDodge/A_INP_JumpDodge_IdleFwdRt_45.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin/JumpDodge/A_INP_JumpDodge_IdleFwdRt_90.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin/Roll/A_INP_Roll_IdleBwd.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin/Roll/A_INP_Roll_IdleBwdLt_135.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin/Roll/A_INP_Roll_IdleBwdRt_135.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin/Roll/A_INP_Roll_IdleFwd.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin/Roll/A_INP_Roll_IdleFwdLt_45.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin/Roll/A_INP_Roll_IdleFwdLt_90.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin/Roll/A_INP_Roll_IdleFwdRt_45.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin/Roll/A_INP_Roll_IdleFwdRt_90.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin_UE4/Dash/A_INP_Dash_IdleBwd.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin_UE4/Dash/A_INP_Dash_IdleBwdLt_135.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin_UE4/Dash/A_INP_Dash_IdleBwdRt_135.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin_UE4/Dash/A_INP_Dash_IdleFwd.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin_UE4/Dash/A_INP_Dash_IdleFwdLt_45.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin_UE4/Dash/A_INP_Dash_IdleFwdLt_90.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin_UE4/Dash/A_INP_Dash_IdleFwdRt_45.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin_UE4/Dash/A_INP_Dash_IdleFwdRt_90.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin_UE4/Dodge/A_INP_Dodge_01_IdleBwd_toLeft.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin_UE4/Dodge/A_INP_Dodge_01_IdleBwd_toRight.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin_UE4/Dodge/A_INP_Dodge_01_IdleBwdLt_135.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin_UE4/Dodge/A_INP_Dodge_01_IdleBwdRt_135.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin_UE4/Dodge/A_INP_Dodge_01_IdleFwd_toLeft.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin_UE4/Dodge/A_INP_Dodge_01_IdleFwd_toRight.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin_UE4/Dodge/A_INP_Dodge_01_IdleFwdLt_45.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin_UE4/Dodge/A_INP_Dodge_01_IdleFwdLt_90.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin_UE4/Dodge/A_INP_Dodge_01_IdleFwdRt_45.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin_UE4/Dodge/A_INP_Dodge_01_IdleFwdRt_90.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin_UE4/JumpDodge/A_INP_JumpDodge_IdleBwd.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin_UE4/JumpDodge/A_INP_JumpDodge_IdleBwdLt_135.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin_UE4/JumpDodge/A_INP_JumpDodge_IdleBwdRt_135.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin_UE4/JumpDodge/A_INP_JumpDodge_IdleFwd.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin_UE4/JumpDodge/A_INP_JumpDodge_IdleFwdLt_45.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin_UE4/JumpDodge/A_INP_JumpDodge_IdleFwdLt_90.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin_UE4/JumpDodge/A_INP_JumpDodge_IdleFwdRt_45.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin_UE4/JumpDodge/A_INP_JumpDodge_IdleFwdRt_90.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin_UE4/Roll/A_INP_Roll_IdleBwd.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin_UE4/Roll/A_INP_Roll_IdleBwdLt_135.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin_UE4/Roll/A_INP_Roll_IdleBwdRt_135.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin_UE4/Roll/A_INP_Roll_IdleFwd.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin_UE4/Roll/A_INP_Roll_IdleFwdLt_45.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin_UE4/Roll/A_INP_Roll_IdleFwdLt_90.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin_UE4/Roll/A_INP_Roll_IdleFwdRt_45.uasset
Content/RollDodgeDashSet/Animations/InPlace/Mannequin_UE4/Roll/A_INP_Roll_IdleFwdRt_90.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin/Dash/A_Dash_IdleBwd.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin/Dash/A_Dash_IdleBwdLt_135.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin/Dash/A_Dash_IdleBwdRt_135.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin/Dash/A_Dash_IdleFwd.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin/Dash/A_Dash_IdleFwdLt_45.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin/Dash/A_Dash_IdleFwdLt_90.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin/Dash/A_Dash_IdleFwdRt_45.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin/Dash/A_Dash_IdleFwdRt_90.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin/Dodge/A_Dodge_01_IdleBwd_toLeft.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin/Dodge/A_Dodge_01_IdleBwd_toRight.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin/Dodge/A_Dodge_01_IdleBwdLt_135.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin/Dodge/A_Dodge_01_IdleBwdRt_135.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin/Dodge/A_Dodge_01_IdleFwd_toLeft.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin/Dodge/A_Dodge_01_IdleFwd_toRight.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin/Dodge/A_Dodge_01_IdleFwdLt_45.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin/Dodge/A_Dodge_01_IdleFwdLt_90.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin/Dodge/A_Dodge_01_IdleFwdRt_45.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin/Dodge/A_Dodge_01_IdleFwdRt_90.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin/JumpDodge/A_JumpDodge_IdleBwd.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin/JumpDodge/A_JumpDodge_IdleBwdLt_135.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin/JumpDodge/A_JumpDodge_IdleBwdRt_135.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin/JumpDodge/A_JumpDodge_IdleFwd.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin/JumpDodge/A_JumpDodge_IdleFwdLt_45.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin/JumpDodge/A_JumpDodge_IdleFwdLt_90.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin/JumpDodge/A_JumpDodge_IdleFwdRt_45.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin/JumpDodge/A_JumpDodge_IdleFwdRt_90.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin/Roll/A_Roll_IdleBwd.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin/Roll/A_Roll_IdleBwdLt_135.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin/Roll/A_Roll_IdleBwdRt_135.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin/Roll/A_Roll_IdleFwd.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin/Roll/A_Roll_IdleFwdLt_45.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin/Roll/A_Roll_IdleFwdLt_90.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin/Roll/A_Roll_IdleFwdRt_45.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin/Roll/A_Roll_IdleFwdRt_90.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin_UE4/Dash/A_Dash_IdleBwd.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin_UE4/Dash/A_Dash_IdleBwdLt_135.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin_UE4/Dash/A_Dash_IdleBwdRt_135.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin_UE4/Dash/A_Dash_IdleFwd.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin_UE4/Dash/A_Dash_IdleFwdLt_45.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin_UE4/Dash/A_Dash_IdleFwdLt_90.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin_UE4/Dash/A_Dash_IdleFwdRt_45.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin_UE4/Dash/A_Dash_IdleFwdRt_90.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin_UE4/Dodge/A_Dodge_01_IdleBwd_toLeft.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin_UE4/Dodge/A_Dodge_01_IdleBwd_toRight.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin_UE4/Dodge/A_Dodge_01_IdleBwdLt_135.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin_UE4/Dodge/A_Dodge_01_IdleBwdRt_135.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin_UE4/Dodge/A_Dodge_01_IdleFwd_toLeft.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin_UE4/Dodge/A_Dodge_01_IdleFwd_toRight.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin_UE4/Dodge/A_Dodge_01_IdleFwdLt_45.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin_UE4/Dodge/A_Dodge_01_IdleFwdLt_90.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin_UE4/Dodge/A_Dodge_01_IdleFwdRt_45.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin_UE4/Dodge/A_Dodge_01_IdleFwdRt_90.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin_UE4/JumpDodge/A_JumpDodge_IdleBwd.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin_UE4/JumpDodge/A_JumpDodge_IdleBwdLt_135.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin_UE4/JumpDodge/A_JumpDodge_IdleBwdRt_135.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin_UE4/JumpDodge/A_JumpDodge_IdleFwd.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin_UE4/JumpDodge/A_JumpDodge_IdleFwdLt_45.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin_UE4/JumpDodge/A_JumpDodge_IdleFwdLt_90.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin_UE4/JumpDodge/A_JumpDodge_IdleFwdRt_45.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin_UE4/JumpDodge/A_JumpDodge_IdleFwdRt_90.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin_UE4/Roll/A_Roll_IdleBwd.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin_UE4/Roll/A_Roll_IdleBwdLt_135.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin_UE4/Roll/A_Roll_IdleBwdRt_135.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin_UE4/Roll/A_Roll_IdleFwd.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin_UE4/Roll/A_Roll_IdleFwdLt_45.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin_UE4/Roll/A_Roll_IdleFwdLt_90.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin_UE4/Roll/A_Roll_IdleFwdRt_45.uasset
Content/RollDodgeDashSet/Animations/RootMotion/Mannequin_UE4/Roll/A_Roll_IdleFwdRt_90.uasset
Content/RollDodgeDashSet/Demo/Mannequin_UE4/Materials/Layers/ML_Latex_Black.uasset
Content/RollDodgeDashSet/Demo/Mannequin_UE4/Materials/Layers/ML_ShinyPlastic_Beige.uasset
Content/RollDodgeDashSet/Demo/Mannequin_UE4/Materials/Layers/ML_ShinyPlastic_Beige_Logo.uasset
Content/RollDodgeDashSet/Demo/Mannequin_UE4/Materials/Layers/ML_SoftMetal.uasset
Content/RollDodgeDashSet/Demo/Mannequin_UE4/Materials/M_Male_Body.uasset
Content/RollDodgeDashSet/Demo/Mannequin_UE4/Materials/M_MannequinUE4_Body.uasset
Content/RollDodgeDashSet/Demo/Mannequin_UE4/Materials/M_MannequinUE4_ChestLogo.uasset
Content/RollDodgeDashSet/Demo/Mannequin_UE4/Materials/M_UE4Man_ChestLogo.uasset
Content/RollDodgeDashSet/Demo/Mannequin_UE4/Materials/MaterialLayers/ML_GlossyBlack_Latex_UE4.uasset
Content/RollDodgeDashSet/Demo/Mannequin_UE4/Materials/MaterialLayers/ML_Plastic_Shiny_Beige.uasset
Content/RollDodgeDashSet/Demo/Mannequin_UE4/Materials/MaterialLayers/ML_Plastic_Shiny_Beige_LOGO.uasset
Content/RollDodgeDashSet/Demo/Mannequin_UE4/Materials/MaterialLayers/ML_SoftMetal_UE4.uasset
Content/RollDodgeDashSet/Demo/Mannequin_UE4/Materials/MaterialLayers/T_ML_Aluminum01.uasset
Content/RollDodgeDashSet/Demo/Mannequin_UE4/Materials/MaterialLayers/T_ML_Aluminum01_N.uasset
Content/RollDodgeDashSet/Demo/Mannequin_UE4/Materials/MaterialLayers/T_ML_Rubber_Blue_01_D.uasset
Content/RollDodgeDashSet/Demo/Mannequin_UE4/Materials/MaterialLayers/T_ML_Rubber_Blue_01_N.uasset
Content/RollDodgeDashSet/Demo/Mannequin_UE4/Meshes/SK_Mannequin.uasset
Content/RollDodgeDashSet/Demo/Mannequin_UE4/Meshes/SK_Mannequin_PhysicsAsset.uasset
Content/RollDodgeDashSet/Demo/Mannequin_UE4/Meshes/SK_Mannequin_Skeleton.uasset
Content/RollDodgeDashSet/Demo/Mannequin_UE4/Textures/T_Female_Mask.uasset
Content/RollDodgeDashSet/Demo/Mannequin_UE4/Textures/T_Female_N.uasset
Content/RollDodgeDashSet/Demo/Mannequin_UE4/Textures/T_Male_Mask.uasset
Content/RollDodgeDashSet/Demo/Mannequin_UE4/Textures/T_Male_N.uasset
Content/RollDodgeDashSet/Demo/Mannequin_UE4/Textures/T_ML_Aluminum01.uasset
Content/RollDodgeDashSet/Demo/Mannequin_UE4/Textures/T_ML_Aluminum01_N.uasset
Content/RollDodgeDashSet/Demo/Mannequin_UE4/Textures/T_ML_Rubber_Blue_01_D.uasset
Content/RollDodgeDashSet/Demo/Mannequin_UE4/Textures/T_ML_Rubber_Blue_01_N.uasset
Content/RollDodgeDashSet/Demo/Mannequin_UE4/Textures/T_UE4_Mannequin__normals.uasset
Content/RollDodgeDashSet/Demo/Mannequin_UE4/Textures/T_UE4_Mannequin_MAT_MASKA.uasset
Content/RollDodgeDashSet/Demo/Mannequin_UE4/Textures/T_UE4Logo_Mask.uasset
Content/RollDodgeDashSet/Demo/Mannequin_UE4/Textures/T_UE4Logo_N.uasset
Content/RollDodgeDashSet/Demo/Mannequin_UE4/Textures/T_UELogo_Mask.uasset
Content/RollDodgeDashSet/Demo/Mannequin_UE4/Textures/T_UELogo_N_TGA.uasset
Content/RollDodgeDashSet/Demo/Mannequins/Materials/Functions/CA_Mannequin.uasset
Content/RollDodgeDashSet/Demo/Mannequins/Materials/Functions/ChromaticCurve.uasset
Content/RollDodgeDashSet/Demo/Mannequins/Materials/Functions/MF_Diffraction.uasset
Content/RollDodgeDashSet/Demo/Mannequins/Materials/Functions/MF_logo3layers.uasset
Content/RollDodgeDashSet/Demo/Mannequins/Materials/Functions/ML_BaseColorFallOff.uasset
Content/RollDodgeDashSet/Demo/Mannequins/Materials/Instances/Manny/MI_Manny_01.uasset
Content/RollDodgeDashSet/Demo/Mannequins/Materials/Instances/Manny/MI_Manny_02.uasset
Content/RollDodgeDashSet/Demo/Mannequins/Materials/Instances/Quinn/MI_Quinn_01.uasset
Content/RollDodgeDashSet/Demo/Mannequins/Materials/Instances/Quinn/MI_Quinn_02.uasset
Content/RollDodgeDashSet/Demo/Mannequins/Materials/M_Mannequin.uasset
Content/RollDodgeDashSet/Demo/Mannequins/Meshes/Mannequin_LODSettings.uasset
Content/RollDodgeDashSet/Demo/Mannequins/Meshes/SK_Mannequin.uasset
Content/RollDodgeDashSet/Demo/Mannequins/Meshes/SKM_Manny.uasset
Content/RollDodgeDashSet/Demo/Mannequins/Meshes/SKM_Manny_Simple.uasset
Content/RollDodgeDashSet/Demo/Mannequins/Textures/Manny/T_Manny_01_ASAOPMASK_MSK.uasset
Content/RollDodgeDashSet/Demo/Mannequins/Textures/Manny/T_Manny_01_BN.uasset
Content/RollDodgeDashSet/Demo/Mannequins/Textures/Manny/T_Manny_01_CCRCCPlastic_MSK.uasset
Content/RollDodgeDashSet/Demo/Mannequins/Textures/Manny/T_Manny_01_D.uasset
Content/RollDodgeDashSet/Demo/Mannequins/Textures/Manny/T_Manny_01_MSR_MSK.uasset
Content/RollDodgeDashSet/Demo/Mannequins/Textures/Manny/T_Manny_01_N.uasset
Content/RollDodgeDashSet/Demo/Mannequins/Textures/Manny/T_Manny_01_Tan.uasset
Content/RollDodgeDashSet/Demo/Mannequins/Textures/Manny/T_Manny_02_ASAOPMASK_MSK.uasset
Content/RollDodgeDashSet/Demo/Mannequins/Textures/Manny/T_Manny_02_BN.uasset
Content/RollDodgeDashSet/Demo/Mannequins/Textures/Manny/T_Manny_02_CCRCCPlastic_MSK.uasset
Content/RollDodgeDashSet/Demo/Mannequins/Textures/Manny/T_Manny_02_D.uasset
Content/RollDodgeDashSet/Demo/Mannequins/Textures/Manny/T_Manny_02_MSR_MSK.uasset
Content/RollDodgeDashSet/Demo/Mannequins/Textures/Manny/T_Manny_02_N.uasset
Content/RollDodgeDashSet/Demo/Mannequins/Textures/Manny/T_Manny_02_Tan.uasset
Content/RollDodgeDashSet/Demo/Mannequins/Textures/Shared/T_UE_Logo_M.uasset
Content/RollDodgeDashSet/Demo/Mannequins/Textures/Textures/Manny/T_Manny_01_ASAOPMASK_MSK.uasset
Content/RollDodgeDashSet/Demo/Mannequins/Textures/Textures/Manny/T_Manny_01_BN.uasset
Content/RollDodgeDashSet/Demo/Mannequins/Textures/Textures/Manny/T_Manny_01_CCRCCPlastic_MSK.uasset
Content/RollDodgeDashSet/Demo/Mannequins/Textures/Textures/Manny/T_Manny_01_D.uasset
Content/RollDodgeDashSet/Demo/Mannequins/Textures/Textures/Manny/T_Manny_01_MSR_MSK.uasset
Content/RollDodgeDashSet/Demo/Mannequins/Textures/Textures/Manny/T_Manny_01_N.uasset
Content/RollDodgeDashSet/Demo/Mannequins/Textures/Textures/Manny/T_Manny_01_Tan.uasset
Content/RollDodgeDashSet/Demo/Mannequins/Textures/Textures/Manny/T_Manny_02_ASAOPMASK_MSK.uasset
Content/RollDodgeDashSet/Demo/Mannequins/Textures/Textures/Manny/T_Manny_02_BN.uasset
Content/RollDodgeDashSet/Demo/Mannequins/Textures/Textures/Manny/T_Manny_02_CCRCCPlastic_MSK.uasset
Content/RollDodgeDashSet/Demo/Mannequins/Textures/Textures/Manny/T_Manny_02_D.uasset
Content/RollDodgeDashSet/Demo/Mannequins/Textures/Textures/Manny/T_Manny_02_MSR_MSK.uasset
Content/RollDodgeDashSet/Demo/Mannequins/Textures/Textures/Manny/T_Manny_02_N.uasset
Content/RollDodgeDashSet/Demo/Mannequins/Textures/Textures/Manny/T_Manny_02_Tan.uasset
Content/RollDodgeDashSet/Demo/Mannequins/Textures/Textures/Shared/T_UE_Logo_M.uasset
Content/RollDodgeDashSet/Maps/Overview.umap
Content/RollDodgeDashSet/Maps/Overview_BuiltData.uasset
