# Prerequisites
*.d


# Precompiled Headers
*.gch
*.pch

#compiled File
*.pdb
*.lib
*.exe
*.exp
# Fortran module files
*.mod
*.smod


# Executables
*.out
*.app
*.sln

# File/Path
Content\Katana_Animations
Content\ParagonMinions
Content\BlinkAndDashVFX

Binary\Win64\*.pdb
Binary\Win64\*.exe
Binary\Win64\*.exp
Binary\Win64\*.lib
Saved
Intermediate
DerivedDataCache
.vs
.vsconfig
.svn
.vscode
.exe
/Content/BlinkAndDashVFX
/Content/Katana_Animations
/Content/ParagonMinions
/Content/TopDown
Binaries/Win64/UnrealEditor-DevKit.patch_0.exp
Binaries/Win64/UnrealEditor-DevKit.patch_0.lib

*.code-workspace
/Content/Art/ArtTestMap
/Content/Art/EnvironmentAsset
/Content/Art/Map
/Content/Art/Material
/Content/Art/Prox_Box
/Content/UltraVolumetrics
*.sln
/Content/Art/Map/GameLevel_L1
/Content/Art/**
