# Prerequisites
*.d


# Precompiled Headers
*.gch
*.pch

#compiled File
*.pdb
*.lib
*.exe
*.exp
# Fortran module files
*.mod
*.smod


# Executables
*.out
*.app
.sln

# File/Path
Binary\Win64\*.pdb
Binary\Win64\*.exe
Binary\Win64\*.exp
Saved
Intermediate
DerivedDataCache
.vs
.vsconfig
.svn
.vscode
.exe